.form-container {
    width: 500px;
    /* height: 700px; */
    padding: 40px 20px;
    gap: 30px;
    margin: 7% auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-shadow: -10px 10px  #FFE0B3;
}

.form-header {
    text-align: center;
}

.label {
    display: block;
    margin: 10px 2px;
}

input {
    padding:10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.644);
    width: 100%;
    
}

.btn-signup {
    margin-top: 30px;
    padding: 12px;
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0.3);
}

.form-footer {
    text-align: center;
    margin-top: 10px;
}

.form-footer-link {
    text-decoration: none;
    color: #FF9900;
}

.another-option {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.google-signup {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    cursor: pointer;
}
.google-signup:hover {
    background-color: rgba(250, 235, 215, 0.308);
}
.google-logo {
    height: 50%;
}