.header {
    background-color: #1C2B35;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 80%;
    margin: 0 auto;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}
.nav a:hover {
    color: orange;
}